extends ../layout

block content
  h1= title
  ul
  //- each-in-else语法
  each author in list_authors
    li 
      a(href=author.url) #{author.name} 
      |  (#{author.date_of_birth_formatted} - #{author.date_of_death_formatted})
  else
    li There are no authors.
